/* BEGIN TAB styles */
.upnm-tabs {
	position: relative;
	margin-right: 15px;
}

.upnm-tabs .upnm-tabs-nav {
	border-bottom: 1px solid #ccc;
}

.upnm-tabs .upnm-tabs-nav .upnm-tabs-tab {
	position: relative;
	top: 1px;
}

.upnm-tabs .upnm-tabs-nav .upnm-tabs-anchor {
	background: #000000;
	margin-bottom: 3px;
	padding: 10px 12px;
	display: inline-block;
	text-decoration: none;
	color: #fff;
	font-weight: bold;
}

.upnm-tabs .upnm-tabs-nav .upnm-tabs-state-active {
	background-color: #fff;
	margin-bottom: -1px;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
}

.upnm-tabs .upnm-tabs-nav .upnm-tabs-state-disabled {
	opacity: 0.5;
}

.upnm-tabs .upnm-tabs-nav .upnm-tabs-state-active .upnm-tabs-anchor {
	color: #000000;
	background-color: #fff;
}

.upnm-tabs .upnm-tabs-panel {
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	margin-bottom: 3px;
}

.upnm-tabs .upnm-tabs-accordion-title .upnm-tabs-anchor {
	display: block;
	padding: 10px;
	background-color: #000000;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	margin-bottom: 3px;
	text-align: center;
}

.upnm-tabs .upnm-tabs-accordion-title.upnm-tabs-state-disabled {
	opacity: 0.5;
}

.upnm-tabs .upnm-tabs-accordion-title.upnm-tabs-state-active .upnm-tabs-anchor {
	background-color: #fff;
	color: #000000;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin-bottom: 0;
	text-align: center;
}
.upnm-tabs .upnm-tabs-nav {
    margin: 0;
    padding: 0;
}

.upnm-tabs .upnm-tabs-tab {
    display: inline-block;
    margin: 0;
    list-style: none;
}

.upnm-tabs .upnm-tabs-panel {
    padding: 15px;
    display: none;
	background-color: #FFF;
}

.upnm-tabs .upnm-tabs-accordion-title {
    display: none;
}

.upnm-tabs .upnm-tabs-panel.upnm-tabs-state-active {
    display: block;
}

/* Accordion responsive breakpoint */
@media only screen and (max-width: 768px) {
    .upnm-tabs .upnm-tabs-nav {
        display: none;
    }

    .upnm-tabs .upnm-tabs-accordion-title {
        display: block;
    }
}
/* END TAB styles */

/* BEGIN tooltip styles */
.tooltip {
    display: inline;
    position: relative;
}
     
.tooltip:hover:after {
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    left: 26px;
    color: #fff;
    content: attr(title);
    bottom: -30%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 200px;
    font-size: 12px;
    line-height: 1.6;
}
 
.tooltip:hover:before {
    border: solid;
    border-color: transparent #333 transparent transparent;
    border-width: 6px 5px 6px 0px;
    left: 20px;
    content: "";
    top: 22%;
    position: absolute;
    z-index: 99;
}

.ach-upnm-tooltip{
    padding-bottom: 20px;
}
/* END tooltip styles */

/* BEGIN ACh option styles */
#ach-upnm-message{
    margin-left: 0px;
}

.ac-upnm-content{
	text-align: left;
}

.ach-upnm-header{
	padding-top: 30px;
}

.ach-upn-header{
	font-size: 22px;
}

.ach-upn-header .ach-upn-version {
    position:relative;
	top:-3px;
    font-size: 10px;
    margin-left: 3px;
    background: #a5a6a6;
    color: #fff;
	padding: 2px;
    padding-right: 9px;
    padding-left: 9px;
    border-radius: 70px;
}

.ach-upn-description{
    margin-top: -15px;
    border-style: dashed;
    border-bottom-width: 1px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-color: #cccccc;
    margin-bottom: 15px;
    margin-right: 15px
}

.ach-upnm-th {
    padding-right: 10px;
    padding-bottom: 23px;
	font-weight: 500;
}

.ac-upnm-switch {
     position: relative;
     display: block;
     vertical-align: top;
     width: 55px;
     height: 23px;
     padding: 3px;
     margin: 0 0px 18px 0;
     border-radius: 18px;
     cursor: pointer;
   }
   .ac-upnm-switch-input {
     position: absolute;
     top: 0;
     left: 0;
     opacity: 0;
   }
   .ac-upnm-switch-label {
     position: relative;
     display: block;
     height: inherit;
     font-size: 10px;
     text-transform: uppercase;
     background: #eaeaea;
     border-radius: inherit;
   }
   .ac-upnm-switch-label:before, .ac-upnm-switch-label:after {
     position: absolute;
     top: 50%;
     margin-top: -.5em;
     line-height: 1;
     -webkit-transition: inherit;
     -moz-transition: inherit;
     -o-transition: inherit;
     transition: inherit;
   }
   .ac-upnm-switch-label:before {
     content: attr(data-off);
     right: 8px;
     color: #aaaaaa;
     text-shadow: 0 1px rgba(255, 255, 255, 0.5);
   }
   .ac-upnm-switch-label:after {
     content: attr(data-on);
     left: 8px;
     color: #FFFFFF;
     text-shadow: 0 1px rgba(0, 0, 0, 0.2);
     opacity: 0;
   }
   .ac-upnm-switch-input:checked ~ .ac-upnm-switch-label {
     background: #34ba96;
     box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
   }
   .ac-upnm-switch-input:checked ~ .ac-upnm-switch-label:before {
     opacity: 0;
   }
   .ac-upnm-switch-input:checked ~ .ac-upnm-switch-label:after {
     opacity: 1;
   }
   .ac-upnm-switch-handle {
     position: absolute;
     top: 6px;
     left: 6px;
     width: 17px;
     height: 17px;
     background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0);
     background-image: -webkit-linear-gradient(top, #FFFFFF 40%, #f0f0f0);
     border-radius: 100%;
     box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
   }

   .ac-upnm-switch-input:checked ~ .ac-upnm-switch-handle {
     left: 38px;
   }
   /* Transition */
   .ac-upnm-switch-label, .ac-upnm-switch-handle {
     transition: All 0.3s ease;
     -webkit-transition: All 0.3s ease;
     -moz-transition: All 0.3s ease;
     -o-transition: All 0.3s ease;
   }
/* END ACh option styles */


/* BEGIN ACh support page styles */
.ac-upnm-row>.ac-upnm-col {
    float: left;
}

.upnm-help .ac-upnm-row>.ac-upnm-col {
    width: 50%;
}

.upnm-ach:after,
.upnm-ach:before {
    content: " ";
    display: block;
	clear: both;
}

.ac-upnm-row {
    margin: 0 -15px;
}

@media screen and (max-width:1150px) {
    .ac-upnm-row>.ac-upnm-col, .upnm-help .ac-upnm-row>.ac-upnm-col {
        float: none;
        width: 100%;
    }
}

.upnm-box {
    padding: 20px;
}

h3.upnm-box-heading {
    font-size: 19px;
    padding: 0 0 10px 0;
    margin: 0 0 10px 0;
    font-weight: 300;
    line-height: 30px;
    border-bottom: 1px solid #eee;
}

.ac-upnm-about-text {
    padding: 0 10px 10px 10px;
    margin-bottom: 20px;
    font-size: 12px;
    color: #888;
    border-bottom: 1px solid #eee;
}

.ac-upnm-about-text h3 {
    line-height: 25px;
}

.ac-upnm-social-links ul li a:hover i,
a.ac-upnm-forum-button:hover i {
    -webkit-transition: all .15s cubic-bezier(1, .5, .8, 1);
    transition: all .15s cubic-bezier(1, .5, .8, 1);
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.ac-upnm-social-links ul li a i,
a.ac-upnm-forum-button i {
    display: block;
    font-size: 40px;
    margin: 5px 0 10px 0;
    text-align: center;
    -webkit-transition: all .15s cubic-bezier(1, .5, .8, 1);
    transition: all .15s cubic-bezier(1, .5, .8, 1);
    -webkit-transform: scale(1);
    transform: scale(1);
}

.ac-upnm-social-links ul li a,
a.ac-upnm-forum-button {
    display: block;
    background: #eee;
    color: #888;
    margin: 2px;
    padding: 25px 10px;
    border-radius: 3px;
    text-align: center;
    font-weight: 300;
    font-size: 14px;
}

a.ac-upnm-forum-button {
    background: #2f2d2d;
    color: #fff;
    padding: 10px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 12px;
	text-decoration: none;
}
.achupnm-content .ac-upnm-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

a.ac-upnm-forum-button i {
    font-size: 27px;
}

.ac-upnm-social-links {
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.ac-upnm-social-links ul li {
    margin: 0;
    padding: 0;
    float: left;
    width: 50%;
    display: block;
}

.ac-upnm-social-links ul li.achupnm-buy-coffee a {
    background: #f9b511;
    color: #fff;
	text-decoration: none;
}

.ac-upnm-social-links ul li.achupnm-twitter a {
    background: #00aced;
    color: #fff;
	text-decoration: none;
}

.ac-upnm-social-links ul li.achupnm-facebook a {
    background: #3b5998;
    color: #fff;
	text-decoration: none;
}

.ac-upnm-social-links ul li.achupnm-rate a {
    background: #82b441;
    color: #fff;
	text-decoration: none;
}

.ac-upnm-social-links ul li a i {
    width: 50px;
    margin: 5px auto 10px auto;
}

a.achupnm-link {
	text-decoration: none;
	border-bottom: 1px solid #c73412;
    color: #444;
	padding-bottom: 2px;
}

a.achupnm-link-text {
	text-decoration: none;
}
/* END ACh support page styles */